<section class="login-character">
  <div class="content-container">
    <h1>Choose a character to log in as</h1>
    <%= form_tag sessions_path do %>
      <ol class="character-list">
        <% @users.shuffle.each do |user| %>
          <li style="list-style-type: none; display: inline-block; vertical-align: top;">
            <button type="submit" name="user[name]" value="<%= user.name %>">
              <img src="<%= path_to_image(user.image_url) %>" alt="<%= user.name %>">
            </button>
            <div class="character-info">
              <h2>
                <%= user.name %> 
                <span class="character-pronoun">(<%= user.pronoun %>)</span>
              </h2>
              <p class="character-desc"><%= user.description %></p>
            </div>
          </li>
        <% end %>
      </ol>
    <% end %>
  </div>
</section>
