<main>
  <div class="content-container">
    <div class="tiles-container">
      <% @units.each do |unit| %>
        <div class="tile-container">
          <article class="tile">
            <div class="tile-header">
              <a title="<%= unit.title %>" class="tile-icon" href="<%= unit_path(unit) %>">
                <img alt="<%= unit.title %> icon" class="tile-icon-image" src="">
              </a>
              <div class="tile-meta-content">
                <div class="time-estimate"><%= pluralize(unit.time_estimate, 'minute') %></div>
              </div>
            </div>
            <div class="tile-body">
              <h3>
                <a title="<%= unit.title %>" class="tile-title" href="<%= unit_path(unit) %>"><%= unit.title %></a>
              </h3>
              <div class="tile-description"><%= unit.description %></div>
              <ul class="tile-tags">
                <li class="tag">Beginner</li>
              </ul>
            </div>
          </article>
        </div>
      <% end %>
    </div>
  </div>
</main>
