
<p>
  <strong>Title:</strong>
  <%= @unit.title %>
</p>
 
<p>
  <strong>Description:</strong>
  <%= @unit.description %>
</p>

<p>
  <strong>Time Estimate:</strong>
  <%= @unit.time_estimate %>
</p>

<p>
  <strong>Learning material:</strong>
  <%= @unit.content %>
</p>

<h1>Questions</h1>


<%= form_tag quiz_submission_index_path do %>
  <% @unit.questions.shuffle.each do |question| %>
    <fieldset>
      <h4><%= question.question_text %></h4>
        <% question.answers.each_with_index do |answer, idx| %>
          <div>
            <input type="radio" name="quiz_submission[<%= question.id %>]" id="<%= question.id %>_<%= idx %>" value="<%= idx %>">
            <label for="<%= question.id %>_<%= idx %>"><%= answer["text"] %></label>
          </div>
        <% end %>
    </fieldset>
  <% end %>
  <%= hidden_field :unit, :id %>
  <%= submit_tag "Submit Answers" %>
<% end %>
