<!DOCTYPE html>
<html>
  <head>
    <title>HerokuTrailheadDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, id: "flash_#{name}" %>
    <% end %>

    <%= yield %>

    <br/>
    <% if logged_in? %>
      <%= link_to 'Logout', logout_path %> (logged in as <%= @current_user.name %>)
    <% end %>
  </body>
</html>
